# Specific to this project.
example/projectGutenberg/files
example/projectGutenberg/www.gutenberg.org
example/projectGutenberg/zipfileLinks.txt
example/projectGutenberg/zipfiles

# Sublime Text
*sublime-*

# Node, NPM
node_modules
npm*

# TODO lists.
TODO*
